.note {
    border-left: 5px solid #999;
    background-color: #f2f2f2;
}

.note h1,
.note h2,
.note h3,
.note h4 {
    margin-top: 0;
}

.note p:last-child {
    margin-bottom: 0;
}

.note code,
.note .highlight {
    background-color: #f2f2f2;
}

.note-danger {
    background-color: #f2dede;
    border-color: #ce838f;
    color: #a94442;
}

.note-warning {
    background-color: #fcf8e3;
    border-color: #f0c670;
    color: #8a6d3b;
}

.note-info {
    background-color: #d9edf7;
    border-color: #70cee1;
    color: #31708f;
}

.note-success {
    background-color: #dff0d8;
    border-color: #a1cd7c;
    color: #3c763d;
}

.alert,
.note {
    padding: 15px;
    margin: 0 0 15px;
}

.alert .close,
.note .close {
    font-size: 16px;
    outline: 0 !important;
}

.alert.alert-success a,
.note.alert-success a,
.alert.note-success a,
.note.note-success a {
    color: #31708f;
}

.alert.alert-danger a,
.note.alert-danger a,
.alert.note-danger a,
.note.note-danger a {
    color: #a94442;
}

.alert.alert-info a,
.note.alert-info a,
.alert.note-info a,
.note.note-info a {
    color: #31708f;
}

.alert.dark a,
.note.dark a,
.alert.bg-info a,
.note.bg-info a,
.alert.bg-succsss a,
.note.bg-succsss a,
.alert.bg-primary a,
.note.bg-primary a,
.alert.bg-success a,
.note.bg-success a,
.alert.bg-warning a,
.note.bg-warning a {
    color: #fff;
}

.note-danger h4 {
    color: red;
}

.note-danger h4 {
    color: red;
}



h4 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-family: 'Roboto', sans-serif;
}

.alert h4 {
    margin-top: 0;
    color: inherit;
}